<div class="container">
    <h1>{{ vacancy.name.capitalize }}</h1>
    <div class="billing">
        <h4>Зарплата</h4>
        <p class="mb-0">от: {{ vacancy.billing_from }}$  до: {{ vacancy.billing_to }}$</p>
    </div>
    <br>
    <div class="company mb-4">
        <div class="row">
            <h4 class="col-xxl-4 col-xl-4 col-md-6 col-lg-6 col-sm-8 col-12">{{ vacancy.author.name.capitalize }}</h4>
            {% if vacancy.author.logo %}
                <img class="rounded float-left col-xxl-4 col-xl-4 col-md-6 col-lg-6 col-sm-8 col-12" style="width: 100px; height: 50px;" src="{{ vacancy.author.logo.url }}" alt="company logo">
            {% endif %}
        </div>
        <a class="btn btn-primary" href="{{ vacancy.author.get_absolute_url }}">Информация о компании</a>
    </div>
    <h4>Основная информация</h4>
    <p class="mb-0">Город: {{ vacancy.city.name.capitalize }}</p>
    <p class="mb-0">Язык программирования: {{ vacancy.language.name.capitalize }}</p>
    <p class="mb-0">Требуемый опыт: {{ vacancy.experience.capitalize }}</p>
    <p class="mb-0">Занятность: {{ vacancy.get_work_type_display.capitalize }}</p>
    <p class="mb-4">Дата создания: {{ vacancy.created_date }}</p>
    <h4>Описание</h4>
    <div class="card mb-4">
        <div class="card-body">
            <p class="card-text">
                {{ vacancy.description.capitalize }}
            </p>
        </div>
    </div>
    <h4>Контакты</h4>
    <p class="mb-0">email: {{ vacancy.email_contact }}</p>
    <p class="mb-4">Номер телефона: {{ vacancy.phone_contact }}</p>
</div>
