<div style="border-radius: 10px;">
	<form method="post" class="text-center"
		  style="padding: 20px; border-radius: 10px;">
		<h4>Добавьте вакансию</h4>
		{% csrf_token %}
		{% if create_form.name.errors %}
			<ol style="color: red;">
				{% for error in create_form.name.errors %}
					<li style="list-style-type: none;"><strong>{{ error|escape }}</strong></li>
				{% endfor %}
			</ol>
		{% endif %}
		{% if create_form.description.errors %}
			<ol style="color: red;">
				{% for error in create_form.description.errors %}
					<li style="list-style-type: none;"><strong>{{ error|escape }}</strong></li>
				{% endfor %}
			</ol>
		{% endif %}
		{% if create_form.city.errors %}
			<ol style="color: red;">
				{% for error in create_form.city.errors %}
					<li style="list-style-type: none;"><strong>{{ error|escape }}</strong></li>
				{% endfor %}
			</ol>
		{% endif %}
        {% if create_form.language.errors %}
			<ol style="color: red;">
				{% for error in create_form.language.errors %}
					<li style="list-style-type: none;"><strong>{{ error|escape }}</strong></li>
				{% endfor %}
			</ol>
		{% endif %}
        {% if create_form.phone_contact.errors %}
			<ol style="color: red;">
				{% for error in create_form.phone_contact.errors %}
					<li style="list-style-type: none;"><strong>{{ error|escape }}</strong></li>
				{% endfor %}
			</ol>
		{% endif %}
        {% if create_form.email_contact.errors %}
			<ol style="color: red;">
				{% for error in email_contact.city.errors %}
					<li style="list-style-type: none;"><strong>{{ error|escape }}</strong></li>
				{% endfor %}
			</ol>
		{% endif %}
        {% if create_form.billing_from.errors %}
			<ol style="color: red;">
				{% for error in create_form.billing_from.errors %}
					<li style="list-style-type: none;"><strong>{{ error|escape }}</strong></li>
				{% endfor %}
			</ol>
		{% endif %}
        {% if create_form.billing_to.errors %}
			<ol style="color: red;">
				{% for error in create_form.billing_to.errors %}
					<li style="list-style-type: none;"><strong>{{ error|escape }}</strong></li>
				{% endfor %}
			</ol>
		{% endif %}
        {% if create_form.experience.errors %}
			<ol style="color: red;">
				{% for error in create_form.experience.errors %}
					<li style="list-style-type: none;"><strong>{{ error|escape }}</strong></li>
				{% endfor %}
			</ol>
		{% endif %}
        {% if create_form.work_type.errors %}
			<ol style="color: red;">
				{% for error in create_form.work_type.errors %}
					<li style="list-style-type: none;"><strong>{{ error|escape }}</strong></li>
				{% endfor %}
			</ol>
		{% endif %}
		<div class="col-6 mx-auto mt-5">
			<div class="row">
				<div class="form-outline mb-2 col-4" style="border-radius: 5px;">
					{{ create_form.name.label }}
					{{ create_form.name }}
				</div>
				<div class="form-outline mb-2 col-4">
					{{ create_form.phone_contact.label }}
					{{ create_form.phone_contact }}
				</div>
				<div class="form-outline mb-2 col-4">
					{{ create_form.email_contact.label }}
					{{ create_form.email_contact }}
				</div>
				<div class="form-outline mb-2 col-4">
					{{ create_form.billing_from.label }}(в долларах США)
					{{ create_form.billing_from }}
				</div>
				<div class="form-outline mb-2 col-4">
					{{ create_form.billing_to.label }}(в долларах США)
					{{ create_form.billing_to }}
				</div>
				<div class="form-outline mb-2 col-4">
					{{ create_form.experience.label }}
					{{ create_form.experience }}
				</div>
				<div class="col-12">
					<div class="row">
						<div class="form-outline mb-2 col-4">
							{{ create_form.city.label }}
							{{ create_form.city }}
						</div>
						<div class="form-outline mb-2 col-4">
							{{ create_form.language.label }}
							{{ create_form.language }}
						</div>
						<div class="form-outline mb-2 col-4">
							{{ create_form.work_type.label }}
							{{ create_form.work_type }}
						</div>
					</div>
				</div>
				<div class="form-outline mb-2 col-12">
					{{ create_form.description.label }}
					{{ create_form.description }}
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary btn-block mb-2">Отправить</button>
	</form>
</div>
